meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title TECNOLOGÍA EN DESARROLLO DE COLECCIONES PARA LA INDUSTRIA DE LA MODA
meta(meta name="description" content="Para alcanzar la apropiación de competencias básicas en el proceso de formación profesional integral, es necesario dotar a nuestros aprendices de herramientas que propicien su cualificación para un desempeño idóneo en el mundo del trabajo y en el mundo de la vida.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")