h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220601501 -02. Implementar estrategias para el control de los impactos ambientales y de los accidentes y enfermedades de acuerdo con los planes y programas establecidos por la organización.

            li
                span 230101507-1. Desarrollar habilidades psicomotrices en el contexto productivo y social.

            li
                span 230101507-2. Practicar hábitos saludables mediante la aplicación de fundamentos de nutrición e higiene.
            
            li
                span 230101507-3. Ejecutar actividades de acondicionamiento físico orientadas hacia el mejoramiento de la condición física en los contextos productivo y social.

            li
                span 230101507-4. Implementar un plan de ergonomía y pausas activas según las características de la función productiva.