.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody            
                tr
                    td Minsalud. Actividad física
                    
                    td Página web
                    td 
                        a(href="https://www.minsalud.gov.co/salud/Paginas/Actividad-F%C3%ADsica.aspx" target="_blank")  <span class="fa fa-external-link" aria-hidden="true"></span> ver
                    