.container
    .header-ecored
        h1 2. Nutrición e higiene
    
    .card.pb-5

        .card-body

            .text-center.mt-5

                .col-10.m-auto

                    h2#tema-21.text-left #[span.cont-cuadro 2.1] Hábitos saludables
                    
                    img(src="assets/images/pages/tema-2/tema-2-1.svg").mt-4.img-fluid

                    p.mt-4.text-left La organización mundial de la salud (OMS) define la salud como #[strong “un estado de completo bienestar físico, mental y social”] lo que supone que este concepto va más allá de la existencia o no de una u otra enfermedad. En consecuencia, más que de una vida sana, hay que hablar de un estilo de vida saludable del que forma parte la alimentación, el ejercicio físico, la prevención de la salud, el trabajo la relación con el medio ambiente y la actividad social. 

                    p.text-left.mb-4 De esta perspectiva se puede determinar que se denominan hábitos saludables a todas aquellas conductas, que se tienen asumidas como propias en la vida cotidiana y que inciden positivamente en el bienestar físico, mental y social. Dichos hábitos son principalmente la alimentación, el descanso y la práctica de actividad física, correctamente planificada.

                    p.text-left La nutrición es la ciencia que se encarga de dar los conocimientos necesarios para una correcta alimentación y que no se produzcan deficiencias ni a corto ni a largo plazo. Es un proceso biológico mediante el cual el organismo asimila los alimentos y los líquidos necesarios para el funcionamiento, mantenimiento y el crecimiento de sus funciones vitales.(«alimentación y vida saludable», s. f.)

                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_2_Alimentacion_y_habitos_saludables.pdf" target="_blank") #[strong Anexo ]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_2_Alimentacion_y_habitos_saludables.pdf" target="_blank") Alimentacion y habitos saludables]
                    br
                    br
                    br
                    br
                    br
                    br

                    h2#tema-22.text-left #[span.cont-cuadro 2.2] Conceptos de alimentación y nutrición

                    p.mt-5.mb-3.text-left “La nutrición es el proceso biológico en el que los organismos asimilan los alimentos y los líquidos necesarios para el funcionamiento, el crecimiento y el mantenimiento de sus funciones vitales. La nutrición también es el estudio de la relación que existe entre los alimentos, la salud y especialmente en la determinación de una dieta equilibrada con bases a la pirámide alimenticia.” “2ª Guía de nutrición y alimentación saludable: la pirámide de la alimentación” Valencia 2009” 

                    p.text-left Cuando hablamos de nutrición, debemos remitirnos a su definición y la real academia española (RAE) la define como “el proceso biológico de animales y vegetales en el que se lleva a cabo la ingesta de alimentos de acuerdo con las necesidades dietéticas específicas de cada organismo.
                    br
                    p.text-left Para llevar una correcta y adecuada nutrición es importante identificar la pirámide de la alimentación, la cual consiste en una gráfica que intenta reflejar de una manera sencilla, las relaciones cuantitativas y cualitativas entre los 7 grupos de alimentos, esta nos ayuda a seguir una dieta sana todos los días.

                    br
                    br

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid

                    p.text-left.mt-5 La pirámide alimentaria se basa en la variedad y flexibilidad (permite una amplia selección de alimentos dentro de cada grupo, sin establecer una preferencia determinada y ajustándose al tipo de vida y preferencias de cada individuo) y en la proporcionalidad, reflejada por el equilibrio cuantitativo y la limitación y restricción de unos alimentos con respecto a otros.
                    br
                    p.text-left Constituye un método excelente como patrón didáctico para la enseñanza y recomendaciones a la población, ya que es práctica y además expresa de forma gráfica las raciones recomendadas para el consumo de cada grupo de alimentos, en un periodo de tiempo determinado (diario, semanal).

                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_3_La_piramide_de_la_alimentacion.pdf" target="_blank") #[strong Anexo]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_3_La_piramide_de_la_alimentacion.pdf" target="_blank") La piramide de la alimentacion]

                    br
                    br
                    br
                    br
                    br
                    br

                    h2#tema-23.text-left #[span.cont-cuadro 2.3] Consumo y gasto calórico

                    img(src="assets/images/pages/tema-2/tema-2-3.svg").img-fluid

                    p.text-left.mt-4.mb-3 La caloría fue definida por primera vez por el profesor “Nicolás Clement en 1824” como una caloría kilogramo y así se introdujo en los diccionarios franceses e ingleses durante el periodo que va entre 1842 y 1867.

                    p.text-left Las calorías representan una unidad de medida para la energía que los seres humanos incorporamos a través de alimentos y bebidas. Dichas calorías indican la cantidad de energía almacenada en los enlaces químicos de aquello que se ingiere, esta es liberada durante la digestión y almacenadas en diferentes moléculas y células, y a su vez se libera en la medida que el cuerpo lo necesita y se utiliza de 3 maneras.

                    .row.mt-5

                        .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3.p-5

                            img(src="assets/images/pages/tema-2/tema-2-4.svg").img-fluid

                            p.mt-3 Para la digestión

                        .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3.p-5

                            img(src="assets/images/pages/tema-2/tema-2-5.svg").img-fluid

                            p.mt-3 Como combustible para los músculos

                        .col-md-4.col-lg-4.col-sm-4.col-xs-12.mb-3.p-5

                            img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid

                            p.mt-3 metabolismo basal (función de todos los órganos)

                    br
                    br

                    img(src="assets/images/pages/tema-2/tema-2-7.svg" style="margin-bottom: -22px;").img-fluid

                    h3.p-2.bg-azul-claro “Dime que comes y te diré quién eres”

                    p.text-left.mt-4 Cuando se habla de “Calorías” se refiere a la energía que aportan los diferentes grupos de alimentos, estos deben ser consumidos en las cantidades apropiadas con el fin de tener una compensación de nutrientes cuando exista déficit, de ahí la importancia del conocimiento sobre la combinación de alimentos. En la alimentación no se debe excluir ningún alimento, ya que no hay nutrientes buenos ni malos; muchas veces el problema es la frecuencia con que se consumen las raciones diarias.
                    br
                    p.text-left Una dieta balanceada consiste en mantener un equilibrio entre la ingesta de calorías y el consumo energético con el fin de mantener un peso corporal promedio, esto se puede dar mediante el suministro energético adecuado de cada uno de los macronutrientes, tales como lípidos (grasas), carbohidratos y proteínas. (Iñarritu, s. f.) 

                    br
                    br

                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-2/tema-2-8.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left Calorías suficientes

                                    p.text-left Son necesarias para que el organismo realice de forma eficiente los procesos metabólicos y trabajos físicos. 


                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-2/tema-2-9.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left Nutrientes proporcionados

                                    p.text-left Proteínas, vitaminas y minerales para que se desarrollen las funciones plásticas y reguladoras.

                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-2/tema-2-10.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left Agua

                                    p.text-left Es indispensable incluir en la dieta mínimo dos litros de agua al día; este elemento, aunque no es un nutriente desempeña en el organismo procesos de asimilación y eliminación del sistema celular. 


                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-2/tema-2-11.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left Fibra dietaría

                                    p.text-left Debe suministrarse en cantidades suficientes porque aporta glucosa, lactosa, fructosa.


                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-2/tema-2-12.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left Equilibrio de nutrientes

                                    p.text-left Todos los aportes calóricos deben estar equilibrados entre sí según lo establecido por los expertos de la Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO) y la Organización Mundial de la Salud (OMS). 


                    br
                    br
                    br

                    .row

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-13.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-14.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-15.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-16.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-17.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-18.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-19.svg").img-fluid

                        .col-md-6.col-lg-6.col-sm-6.col-xs-12.mb-4

                            img(src="assets/images/pages/tema-2/tema-2-20.svg").img-fluid

                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_4_Consumo_y_gasto_calorico.pdf " target="_blank") #[strong Anexo]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_4_Consumo_y_gasto_calorico.pdf" target="_blank") Consumo y gasto calorico]
                    br
                    br
                    br
                    br