.container
    .header-ecored
        h1 3. Adecuación física para la vida
    
    .card.pb-5

        .card-body

            .text-center.mt-5

                .col-10.m-auto

                    h2#tema-31.text-left #[span.cont-cuadro 3.1] Test de condición física
                    
                    img(src="assets/images/pages/tema-3/tema-3-1.svg").mt-4.img-fluid

                    p.mt-4.text-left.mb-4 “La condición física es el estado de control de una persona o animal, en un momento dado. Se manifiesta como capacidad de fuerza, velocidad, resistencia, flexibilidad y coordinación. Cada disciplina de estar compensada con la otra.”

                    p.text-left.mb-4 Los test de valoración son una serie de pruebas, que de una forma objetiva nos van a posibilitar medir o conocer la condición física de una persona.

                    p.text-left.mb-4 Por #[strong condición física] entendemos el conjunto de cualidades anatómicas y fisiológicas que tiene la persona y que la capacitan en mayor o menor grado para la realización de la actividad física y el esfuerzo.

                    p.text-left Los objetivos que se pretenden lograr con la aplicación de estas pruebas son los siguientes:

                    br
                    br

                    .bg-azul-verde.p-4

                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Conocer la condición física del aprendiz.

                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Permitir que el aprendiz conozca sus posibilidades y sus limitaciones. Motivar hacia una práctica deportiva saludable.


                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Orientar la práctica deportiva y analizar la eficacia de los programas desarrollados.


                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Como información inicial y final para el aprendiz, teniendo como referencia por una parte su propia evolución a lo largo del curso, y por otra la valoración que se obtiene comparando su marca con el Baremos establecido.


                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Permitir la planificación del trabajo de forma fiable, en función de los resultados obtenidos.

                        .row.mb-3

                            .col-auto

                                img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                            .col

                                p.text-left Elaboración del plan de trabajo, para evolución de su condición física.

                    
                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_5_Pruebas_tests_de_valoracion_de_la_condicion_fisica.pdf") #[strong Anexo 5.]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_5_Pruebas_tests_de_valoracion_de_la_condicion_fisica.pdf") Pruebas_tests_de_valoracion_de_la_condicion_fisica]
                    br
                    br
                    br
                    br
                    br
                    br

                    h2#tema-32.text-left #[span.cont-cuadro 3.2] Ficha antropométrica

                    img(src="assets/images/pages/tema-3/tema-3-3.svg").mt-4.img-fluid
                    
                    p.mt-4.text-left.mb-3 Se considera a la antropometría como la ciencia que estudia las medidas del cuerpo, con el fin de establecer diferencias entre individuos, grupos, razas entre otras. Esta ciencia encuentra su origen el siglo XVIII en el desarrollo de estudios de antropometría racial comparativa por parte de antropólogos físicos; aunque no fue hasta 1870 con la publicación de Antropometrie, del matemático belga Quételet, cuando se considera su descubriendo y estructuración científica, pero fue a partir de 1940, con la necesidad de datos antropométricos en la industria, específicamente  bélica y la aeronáutica, cuando la antropometría se consolida y desarrolla, debido al contexto bélico mundial. Las dimensiones del cuerpo humano varían de acuerdo con el sexo, la edad, raza, nivel socioeconómico entre otras, por lo que esta ciencia dedicada a investigar, recopilar y analizar estos datos resulta una directriz en el diseño de los objetivos y espacios arquitectónicos, al ser estos contenedores o prolongaciones del cuerpo y que por lo tanto deben estar determinados por sus dimensiones. 

                    p.text-left (Rivas, 2007) define la antropometría “como la disciplina que se ocupa del estudio de las dimensiones estructurales y funcionales del cuerpo humano en forma estandarizada” por lo tanto, una ficha antropométrica es una herramienta que nos permite medir y valorar la composición corporal y determinar las recomendaciones pertinentes para una mejor calidad de vida.

                    p.text-left Esta cumple una función importante en campos como la alimentación, la obesidad, en la industria de diseños de vestuario, en la ergonomía, la biomecánica especialmente en el campo deportivo, en la arquitectura, en la nutrición y composición racial.

                    p.text-left.mb-3 En dicha ficha se registran datos como, peso, estatua, I.MC, envergadura, `pliegues cutáneos, perímetros corporales, frecuencia cardiaca, % de grasa con el propósito de comprender los cambios físicos en el aprendiz, influenciados por el estilo de vida, la alimentación y el ejercicio. 

                    p.text-left Los datos antropométricos son más valiosos cuando se toman con precisión y se registran durante algún tiempo, de esta manera se podrán realizar comparaciones y valorar los resultados del plan de entrenamiento o alimentación.

                    
                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_6_Ficha_antropometrica.pdf") #[strong Anexo 6.]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_6_Ficha_antropometrica.pdf") Ficha_antropometrica]

                    br
                    br
                    br
                    br
                    br
                    br

                    h2#tema-33.text-left #[span.cont-cuadro 3.3] Pulso y sus manifestaciones

                    p.text-left.mt-5.mb-3 El pulso es uno de los signos vitales más importantes que hay y fácil de ubicar, pero en la actividad física es una herramienta fundamental, para determinar la cantidad de palpitaciones máximas a las que podemos exigir nuestro corazón. 

                    p.text-left.mb-3 En definición, es la expansión y contracción de una arteria a medida que la sangre es bombeada por el corazón y esta se abre paso por el interior de esta arteria. Suele comprobarse en el transcurso de una exploración física, y nos proporciona datos sobre el estado de salud o enfermedad del paciente.

                    p.text-left Existen diferentes manifestaciones del pulso y se clasifican de la siguiente manera.

                    br
                    br

                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-3/tema-3-4.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-4.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left.pb-2(style="border-bottom:2px gray solid;") El pulso basal

                                    p.text-left Es el que se le toma a una persona en posición horizontal (ideal si se acaba de despertar) y su actividad cardiaca es la del metabolismo básico, de descanso total.

                    br

                    .row.mb-5

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-5.rounded

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left.pb-2(style="border-bottom:2px gray solid;") El pulso en reposo

                                    p.text-left Es el que se toma en actividades de la vida cotidiana, que pueden ser en su lugar de trabajo o en su hogar, pero que requieran un esfuerzo físico mínimo. 

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-3/tema-3-5.svg" style="position: absolute;z-index: 1;left: -83px;").img-fluid

                    br

                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-3/tema-3-6.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-5.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left.pb-2(style="border-bottom:2px gray solid;") El pulso en el calentamiento

                                    p.text-left Es cuando la persona identifica que su actividad de estimulación de las cualidades físicas es la necesaria para disponer su organismo al esfuerzo físico.

                    br

                    .row.mb-5

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-5.rounded

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left.pb-2(style="border-bottom:2px gray solid;") El pulso de vuelta a la calma o de recuperación

                                    p.text-left Después de la actividad física permite identificar la disposición para permitir que el organismo vuelva a la calma cardiovascular y la relajación muscular.

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-3/tema-3-7.svg" style="position: absolute;z-index: 1;left: -83px;").img-fluid

                    br

                    .row.mb-5

                        .col-md-2.col-lg-2.col-sm-3.col-xs-12.mb-3

                            img(src="assets/images/pages/tema-3/tema-3-8.svg" style="position: absolute;z-index: 1;").img-fluid

                        .col-md-10.col-lg-10.col-sm-9.col-xs-12

                            .row.bg-gris-claro.p-5.rounded

                                .col-md-1.col-lg-1.col-sm-1.col-xs-12

                                .col-md-11.col-lg-11.col-sm-11.col-xs-12

                                    h3.text-left.pb-2(style="border-bottom:2px gray solid;") Cifras normales

                                    .row.mb-1

                                        .col-auto

                                            img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                                        .col

                                            p.text-left Lactante de 130 a 140 pulsaciones por minuto.

                                    .row.mb-1

                                        .col-auto

                                            img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                                        .col

                                            p.text-left Adultos de 60 a 80 pulsos por minuto.

                                    .row.mb-1

                                        .col-auto

                                            img(src="assets/images/pages/tema-3/tema-3-2.svg").img-fluid

                                        .col

                                            p.text-left Ancianos de 55 a 70 pulsaciones por minuto.

                                    p.text-left.mt-3 («Uso de la frecuencia del pulso en la estimación de la carga de trabajo Evaluación de una actividad de movilización de cargas», 2013).
                    
                    br
                    br

                    .col-6.m-auto

                        .bg-gris.p-3.rounded

                            .row

                                .col-lg-3.col-md-3.col-sm-4.col-xs-12

                                    img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid

                                .col-lg-9.col-md-9.col-sm-8.col-xs-12

                                    p.text-left #[a.text-dark(href="assets/files/Anexo_7_El_pulso_y_sus_manifestaciones.pdf") #[strong Anexo 7.]]
                                    p.text-left #[a.text-dark(href="assets/files/Anexo_7_El_pulso_y_sus_manifestaciones.pdf") El_pulso_y_sus_manifestaciones]

                    br
                    br
                    br
                    br
                    br
                    br